fvcore
matplotlib
opencv-python
torch
torchvision
Pillow
pycocotools
yacs
termcolor
cityscapesscripts
tabulate
tqdm
scipy
lvis
psutil
onnx
black
isort
av
iopath
omegaconf
hydra
submitit
cloudpickle
timm
pandas
fairscale
pytorch_lightning