fvcore
matplotlib
opencv-python
torch
torchvision
Pillow
pycocotools
yacs
termcolor
cityscapesscripts
tabulate
tqdm
scipy
lvis
psutil
onnx
black
isort
av
iopath
omegaconf
hydra
pydoc
submitit
cloudpickle
packaging
timm
pandas
fairscale
pytorch3d
pytorch_lightning